# Assignment 2 - Test Grade Caculator

## Task 1: Open & Check file

*Define Input - Output:*

|      INPUT        |          OUTPUT         |
|:-----------------:|:-----------------------:|
|a name of the file | result of checking file |

In [3]:
# Create a function input a file name

def input_filename():
    while 1:
        filename = input('Enter a name of file: ')
        if filename == "":
            print("File name can not empty. Please enter again!")
        else:
            return filename

In [4]:
# Create a function open file

def open_file(filename):
    try:
            # add tail of file 'txt'
            filePath = filename.strip()+'.txt'
            
            # open file
            with open(filePath, 'r') as file:
                print("Successfully opened ", filename)
                mark_table = file.read()
                return mark_table
    except:
            print("File cannot be found.")

## Task 2: Data progessing

*Define Input - Output:*

|      INPUT        |          OUTPUT         |
|:-----------------:|:-----------------------:|
| Data of file      | Valid data & Invalid data |

In [5]:
def check_value_data():
    valid_mark = []
    total_valdid_data = 0
    total_invalid_data = 0
    mark_table = []
    # Split data whenerver look at '\n' in row
    mark_table = markOfStudents.split('\n')

    for line in mark_table:
        x = line.strip().split(",")

        # Check data per row:
        # Valid data will have len = 26, first character = N and after is digrit, student code has 9 characters
        if len(x) == 26:
            if x[0][0:1] == 'N' and x[0][1:].isnumeric() == True and len(x[0])==9:
                total_valdid_data +=1
                valid_mark.append(line)
            else:
                total_invalid_data +=1
                print(f'Invalid student code: \n {line} \n')
        else:
            total_invalid_data +=1
            print(f'Data in row does not have correct character or wrong student code: \n {line}\n')
    return valid_mark, total_valdid_data, total_invalid_data, mark_table

## Task 3: Calculate mark of student

*Define Input - Output:*

|      INPUT        |          OUTPUT         |
|:-----------------:|:-----------------------:|
| Valid Mark        | List Scrore, List wrong answer, List ommited answer  |
| List Scrore, List wrong answer, List ommited answer      | Statistical: Count score of Student > 80, mean, max, min,| 
| List Scrore, List wrong answer, List ommited answer      | value domain, median, list question skipped, list question wrong |

In [16]:
def cal_mark(valid_mark):
    # Create list scrore
    scores = []
    # Calculate mark
    for line in valid_mark:
        x = line.strip().split(',')
        score = 0
        for i in range(len(x)-1):
            if x[i+1] == answer_key[i]:
                score += 4
            elif x[i+1] == '':
                score += 0
                omitted_answer[i] = omitted_answer[i] + 1
            else:
                score = score - 1
                wrong_answer[i] = wrong_answer[i] + 1
        scores.append(score)
    return scores, omitted_answer, wrong_answer

In [17]:
def find_median_score(scores):
    if len(scores)/2 != 0:
        a = int(len(scores)/2) + 1
        median = sorted(scores)[a]
    else:
        a = int(len(scores)/2)
        b = int(len(scores)/2) + 1
        median = (sorted(scores[a]) + sorted(scores[b]))/2
    return median

In [18]:
'''
    Statistical:
    - Total student of high scores: score > 80
    - Mean (average) score: Mean = Total marks / count valid mark
    - Max
    - Min
    - Value domain = Max - Min
    - Median = 
    - Question that most people skip:
    - Question that most people answer incorrectly:
    
    Question that most people skip: 3 - 4 - 0.2 , 5 - 4 - 0.2 , 23 - 4 - 0.2

    Question that most people answer incorrectly: 10 - 4 - 0.20, 14 - 4 - 0.20, 16 - 4 - 0.20, 19 - 4 - 0.20, 22 - 4 - 0.20
'''

'\n    Statistical:\n    - Total student of high scores: score > 80\n    - Mean (average) score: Mean = Total marks / count valid mark\n    - Max\n    - Min\n    - Value domain = Max - Min\n    - Median = \n    - Question that most people skip:\n    - Question that most people answer incorrectly:\n    \n    Question that most people skip: 3 - 4 - 0.2 , 5 - 4 - 0.2 , 23 - 4 - 0.2\n\n    Question that most people answer incorrectly: 10 - 4 - 0.20, 14 - 4 - 0.20, 16 - 4 - 0.20, 19 - 4 - 0.20, 22 - 4 - 0.20\n'

In [8]:
# Count score of Student > 80
def count_highest_score(scores):
    total_highest_score = 0
    for i in range(len(scores)):
        if scores[i] > 80:
            total_highest_score += 1
    return total_highest_score

In [9]:
# Mean (average) score:
def mean_score(scores):
    mean = float(sum(scores)/len(scores))
    return mean

In [10]:
# find most wrong answers
def find_most_wrong_answers(wrong_answer):
    # Find most wrong answers
    i=0
    for i in range(len(wrong_answer)):
        if wrong_answer[i] == max(wrong_answer):
            print('Question that most people skip is Number No :', i+1, '- ', max(wrong_answer), '- ', max(wrong_answer)/25)

In [35]:
# Find most omitted answers is number no - people skip - % skip
def find_most_omitted_answers(omitted_answer):
    for i in range(len(omitted_answer)):
        if omitted_answer[i] == max(omitted_answer):
            print('Question that most people skip is Number No :', i+1, '- ', max(omitted_answer), '- ', max(omitted_answer)/25)

## Task 4: Save score to file

*Define Input - Output:*

|      INPUT        |          OUTPUT         |
|:-----------------:|:-----------------------:|
| List student code, score        | A file saved with data code, score  |

In [38]:
def create_list_score(valid_mark,scores):
    name_id = []
    for line in valid_mark:
        x = line.strip().split(",")
        name_id.append(x[0])
    score_table = []
    for i in range(len(name_id)):
        score_table.append(name_id[i] + "," + str(scores[i]) + "\n")
    return score_table

In [44]:
# Save file
def save_file(file_name_save, score_table):
    grade_file = filename + '_grade.txt'
    with open(grade_file, "w") as writefile:
        for line in score_table:
            writefile.write(line)

## Main Program

In [103]:
# Import library
import re
import pandas as pd
import numpy as np

# Define variable name
filename = ''
markOfStudents = []

valid_mark = []
total_valdid_data = 0
total_invalid_data = 0
mark_table = []
scores = []

answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(",")
wrong_answer = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
omitted_answer = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

total_highest_score = 0
mean = 0
median = 0
score_table = []

# -------- Main program --------

# Input a file name
filename = input_filename()

# Open file 
markOfStudents = open_file(filename)
print(markOfStudents)

Enter a name of file: class2
Successfully opened  class2
N00000021,B,A,C,D,C,C,D,D,C,C,D,B,,B,A,C,B,,A,D,A,A,B,D,
N00000022,B,A,D,A,C,B,D,D,C,C,D,B,A,B,A,,B,A,A,C,A,A,B,A,D
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A
N00000024,C,C,D,D,C,B,,A,C,C,D,B,A,B,,C,B,D,A,C,A,B,B,,D
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D
N00000026,B,C,D,D,C,D,B,A,C,D,D,,A,B,A,C,B,D,,C,A,A,B,D,D
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,,,A,B,A,,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,D,B,A,B,A,C,B,,,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,,C,C,D,B,A,B,A,C,B,B,A,C,A,,B,D,D
N00000031,B,,D,D,C,B,D,A,A,C,D,C,A,B,A,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,D,,A,A,A,C,B,D,A,C,,A,B,D,D
N00000033,B,A,D,D,C,,D,A,C,B,D,B,A,B,C,C,C,D,A,C,A,,B,D,D
N00000034,B,,D,,C,B,A,A,C,C,D,B,A,,A,C,B,A,B,C,A,,B,D,D
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A
N00000036,B,A,D,D,C,B,D,A,C,B,A,C,A,B,A,C,B,D,A,C,A,A,B,,
N00000037,B,A,D,D,C,,D,A,C,C,D,,A,B,A,A,B,D,A,C,,,,D,D
N00000038,,A,D,,C,B,D,A,A,C,D,B,A,B,A,C,B,D,,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,D,B,A,D,A,,C,D,A,B,A,A,B,A,D
N00000040,B,A,,D,C,B,D,D,C,C,C,B,A,B,A,C,A,,A,C,A,,B,D,D
N00000041,,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,D,B,A,B,C,C,B,D,A,C,A,,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,,C,D,B,A,B,A,B,B,A,,C,A,A,B,D,D

In [117]:
# Check value data 
print('--'*10)
valid_mark,total_valdid_data, total_invalid_data, mark_table = check_value_data()
print('--'*10)
print('Total valid data', total_valdid_data)
print('Total invalid data', total_invalid_data)

--------------------
Data in row does not have correct character or wrong student code:
 N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A

Invalid student code:
 N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D

Invalid student code:
 NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D

Data in row does not have correct character or wrong student code:
 N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A

--------------------
Total valid data 21
Total invalid data 4

In [19]:
# Calculate Mark
scores, omitted_answer, wrong_answer = cal_mark(valid_mark)

In [20]:
# Count hightest score
total_highest_score = count_highest_score(scores)
print(f'Total student of high scores: {total_highest_score}')

Total student of high scores: 6

In [21]:
# Mean
mean = mean_score(scores)
print(f'Mean (average) score: {mean}')

Mean (average) score: 75.6

In [22]:
# Max
print(f'Max: {max(scores)}')

Max: 91

In [23]:
# Max
print(f'Min: {min(scores)}')

Min: 59

In [24]:
# Range of Score
print(f'Range of score: {max(scores) - min(scores)}')

Range of score: 32

In [25]:
# find median:
find_median_score(scores)

78

In [26]:
# find most wrong answers
find_most_wrong_answers(wrong_answer)

Question that most people skip is Number No : 10 -  4 -  0.16
Question that most people skip is Number No : 14 -  4 -  0.16
Question that most people skip is Number No : 16 -  4 -  0.16
Question that most people skip is Number No : 19 -  4 -  0.16
Question that most people skip is Number No : 22 -  4 -  0.16

In [29]:
# find most ommited answers
find_most_omitted_answers(omitted_answer)

Question that most people skip is Number No : 3 -  4 -  0.16
Question that most people skip is Number No : 5 -  4 -  0.16
Question that most people skip is Number No : 23 -  4 -  0.16

In [39]:
# Create list score of student with code:
score_table = create_list_score(valid_mark,scores)
score_table

['N00000001,59\n',
 'N00000002,70\n',
 'N00000003,84\n',
 'N00000004,73\n',
 'N00000005,83\n',
 'N00000006,66\n',
 'N00000007,88\n',
 'N00000008,67\n',
 'N00000009,86\n',
 'N00000010,73\n',
 'N00000011,86\n',
 'N00000012,73\n',
 'N00000013,73\n',
 'N00000014,78\n',
 'N00000015,72\n',
 'N00000016,91\n',
 'N00000017,66\n',
 'N00000018,78\n',
 'N00000019,78\n',
 'N00000020,68\n']

In [45]:
# save file score 
save_file(filename, score_table)

In [58]:
# Test open file save
print(open_file('class1_grade'))

Successfully opened  class1_grade
N00000001,59
N00000002,70
N00000003,84
N00000004,73
N00000005,83
N00000006,66
N00000007,88
N00000008,67
N00000009,86
N00000010,73
N00000011,86
N00000012,73
N00000013,73
N00000014,78
N00000015,72
N00000016,91
N00000017,66
N00000018,78
N00000019,78
N00000020,68

## Task 5: Using pandas and numpy to do task 1-4

## Main program task 5

In [169]:
# Import library
import re
import pandas as pd
import numpy as np


# -------- Main program --------
answer_key = ("B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D").split(",")
# Input a file name

try:
    df = pd.read_csv(input('Enter a file name: '), sep = ",", header = None, index_col = 0, on_bad_lines='skip')
    print('Successful open file {}'.format(filename))
except:
    print('File name invalid')

Enter a file name: class2.txt
Successful open file class2.txt

In [172]:
df

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000021,B,A,C,D,C,C,D,D,C,C,...,C,B,NaN,A,D,A,A,B,D,NaN
N00000022,B,A,D,A,C,B,D,D,C,C,...,NaN,B,A,A,C,A,A,B,A,D
N00000023,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,NaN,NaN,NaN
N00000024,C,C,D,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,B,NaN,D
N0000002,B,A,D,D,C,B,D,A,C,D,...,C,D,NaN,A,C,A,A,B,D,D
N00000026,B,C,D,D,C,D,B,A,C,D,...,C,B,D,NaN,C,A,A,B,D,D
NA0000027,B,A,D,D,NaN,B,NaN,A,C,B,...,C,B,D,A,NaN,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,...,NaN,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,...,C,B,NaN,NaN,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,NaN,C,C,...,C,B,B,A,C,A,NaN,B,D,D
N00000031,B,NaN,D,D,C,B,D,A,A,C,...,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,NaN,A,B,D,D
N00000033,B,A,D,D,C,NaN,D,A,C,B,...,C,C,D,A,C,A,NaN,B,D,D
N00000034,B,NaN,D,NaN,C,B,A,A,C,C,...,C,B,A,B,C,A,NaN,B,D,D
N00000036,B,A,D,D,C,B,D,A,C,B,...,C,B,D,A,C,A,A,B,NaN,NaN
N00000037,B,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,NaN,NaN,NaN,D,D
N00000038,NaN,A,D,NaN,C,B,D,A,A,C,...,C,B,D,NaN,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,...,NaN,C,D,A,B,A,A,B,A,D
N00000040,B,A,NaN,D,C,B,D,D,C,C,...,C,A,NaN,A,C,A,NaN,B,D,D
N00000041,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,NaN,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,...,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,NaN,C,...,B,B,A,NaN,C,A,A,B,D,D

In [175]:
# Valid Data
valid_code = df[(df.index.str.len() == 9) & (df.index.str.startswith('N'))]
valid_mark = valid_code[valid_code.index.str.removeprefix("N").str.isdigit()]
valid_mark

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000021,B,A,C,D,C,C,D,D,C,C,...,C,B,NaN,A,D,A,A,B,D,NaN
N00000022,B,A,D,A,C,B,D,D,C,C,...,NaN,B,A,A,C,A,A,B,A,D
N00000023,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,NaN,NaN,NaN
N00000024,C,C,D,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,B,NaN,D
N00000026,B,C,D,D,C,D,B,A,C,D,...,C,B,D,NaN,C,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,...,NaN,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,...,C,B,NaN,NaN,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,NaN,C,C,...,C,B,B,A,C,A,NaN,B,D,D
N00000031,B,NaN,D,D,C,B,D,A,A,C,...,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,NaN,A,B,D,D
N00000033,B,A,D,D,C,NaN,D,A,C,B,...,C,C,D,A,C,A,NaN,B,D,D
N00000034,B,NaN,D,NaN,C,B,A,A,C,C,...,C,B,A,B,C,A,NaN,B,D,D
N00000036,B,A,D,D,C,B,D,A,C,B,...,C,B,D,A,C,A,A,B,NaN,NaN
N00000037,B,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,NaN,NaN,NaN,D,D
N00000038,NaN,A,D,NaN,C,B,D,A,A,C,...,C,B,D,NaN,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,...,NaN,C,D,A,B,A,A,B,A,D
N00000040,B,A,NaN,D,C,B,D,D,C,C,...,C,A,NaN,A,C,A,NaN,B,D,D
N00000041,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,NaN,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,...,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,NaN,C,...,B,B,A,NaN,C,A,A,B,D,D

In [176]:
# Invalid Data
invalid_mark = df[~df.index.isin(valid_mark.index)]
invalid_mark

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N0000002,B,A,D,D,C,B,D,A,C,D,...,C,D,NaN,A,C,A,A,B,D,D
NA0000027,B,A,D,D,NaN,B,NaN,A,C,B,...,C,B,D,A,NaN,A,A,B,D,D